<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
    
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= _.slugify(projName) %></title>
        <meta name="description" content="<%= projDescription %>">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="styles/styles.css"><% if (includeModernizr) { %>
        
        <script src="bower_components/modernizr/modernizr.js"></script>

        <% } %>
    </head>
    <body>

        <script data-main="scripts/main" src="scripts/resources.js"></script>

    </body>
</html>
